<img mat-card-image [src]="data.clickedGame.photoUrl" alt="Game Wallpaper" class="sizeImg2">
<div class="scroll">
    <div class="details"  *ngFor="let gameDetail of gameDetails">
            <mat-card-header>
                    <img mat-card-avatar [src]="gameDetail.photoUrl" alt="Game Logo">
                    <mat-card-title>{{gameDetail.name}}</mat-card-title>
                    <mat-card-subtitle>{{gameDetail.description}}</mat-card-subtitle>
                    <mat-card-subtitle>Rating: {{gameDetail.rating}}</mat-card-subtitle>
            </mat-card-header>
            <hr/>
            <mat-card-actions>
                <button mat-button class="vote">UPVOTE</button>
                <button mat-button class="vote">DOWNVOTE</button>
            </mat-card-actions>
    </div>
</div>