<img mat-card-image [src]="data.clickedGame.photoUrl" alt="Game Wallpaper" class="sizeImg2">
<div class="scroll">
    <div class="details">
            <mat-card-header>
                    <img mat-card-avatar [src]="data.clickedGame.logoUrl" alt="Game Logo">
                    <mat-card-title><strong>{{data.clickedGame.name}}</strong></mat-card-title>
                    <mat-card-subtitle>{{data.clickedGame.description}}</mat-card-subtitle>
                    
            </mat-card-header>
            
            <mat-card-actions>
                <button mat-raised-button (click)="onUpvote()"color="primary">Upvote</button>
                <button mat-raised-button (click)="onDownvote()" color="accent">Downvote</button>
                <mat-card-title class="rating">Rating: {{data.clickedGame.rating}}</mat-card-title>
            </mat-card-actions>
            
            <div class="comment"  *ngFor="let gameComment of gameComments">
                <mat-card-header>
                        <img mat-card-avatar [src]="gameComment.photoUrl">
                        <mat-card-title>{{gameComment.fullName}}</mat-card-title>
                        <mat-card-subtitle>{{gameComment.accountName}}</mat-card-subtitle>
                </mat-card-header>
                <small><p><b>{{gameComment.comment}}</b></p></small>
                <hr/>
        </div>
        <div class="comment">
            <mat-form-field>
                <input matInput placeholder="Share your opinion..." [(ngModel)]="newComment.comment">
            </mat-form-field>
            <button mat-raised-button (click)="onComment()">Comment</button>
        </div>
    </div>
</div>

